<div class="contents row" >
  <% @images.each do |image| %>

    <div class="user__header">
      <div class="user__header__img">
        <%= image_tag "#{image.user.image}", class: "img" %>
      </div>
      <div class="user__header__right">
        <div class="header__right__top">
          <div class="user__name">
          </div>
          <div class="user__edit">
          </div>
        </div>
        <div class="header__right__bottom">
          <div class="follower">
          </div>
          <div class="followed">
          </div>
          <div class="like">
          </div>
        </div>
      </div>
    </div>

    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

    <ul class="user-tabs">
      <li><%= link_to("いいね!一覧", "/users/#{@user.id}/likes") %></li>
    </ul>
    <p><%= @name %>さんの投稿一覧</p>
      <div class="content_post" style="background-image: url(<%= image.image %>);">
        <%= simple_format(image.text) %>
      </div>
  <% end %>
</div>
