<div class="contents row" >
  <% @images.each do |image| %>
    <div class="contents__header">
      <div class="contents__header__img">
        <%= link_to image_tag("#{image.user.image}", class: "img"), "/users/#{image.user.id}" %>
      </div>
      <div class="contents__header__name">
        <%= link_to image.user.name , "/users/#{image.user.id}" %>
      </div>
      <div class="contents__header__icon">
        <%= link_to "/images/#{image.id}", method: :get do %>
          <i class="fa fa-gear fa-2x icon"></i>
        <% end %>
      </div>
    </div>
    <div class="content_post" style="background-image: url(<%= image.image %>);">
        <div class="more">
          <span>削除編集</span>
          <ul class="more_list">
            <li>
              <%= link_to '詳細', "/images/#{image.id}", method: :get %>
            </li>
          <% if user_signed_in? && current_user.id == image.user_id %>
            <li>
              <%= link_to '編集', "/images/#{image.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to '削除', "/images/#{image.id}", method: :delete %>
            </li>
            <% end %>
          </ul>
        </div>
      <%= simple_format(image.text) %>
      <span class="name">
        <a href="">
          <span>投稿者</span><%= image.user.name %>
        </a>
      </span>
    </div>
  <% end %>
</div>
