<div class="contents row">
  <div class="container">
    <%= form_for(@image) do |f| %>
      <%=f.label :image,"投稿画像" %>
      <%= f.file_field :image %>
      <%= f.text_field :text, placeholder: 'text' %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
