<!DOCTYPE html>
<html>
  <head>
    <title>Ponstagram</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
      <div class="header__box">
        <div class="logo">
          <div class="logo__image">
            <%= link_to root_path do %>
              <i class="fa fa-instagram fa-2x"></i>
            <% end %>
          </div>
          <div class="logo__name">
            <span>Ponstagram</span>
          </div>
        </div>
        <ul class="header__lists">
          <li class="list">
            <% if user_signed_in? %>
              <ul>
                <li class="list">
                  <%= link_to new_image_path do %>
                    <i class="fa fa-camera fa-2x"></i>
                  <% end %>
                </li>
                <li class="list">
                  <%= link_to user_path(current_user.id) do %>
                    <i class="fa fa-user fa-2x"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            <% end %>
          </li>
        </ul>

    </header>

    <%= yield %>

  </body>
</html>
