<!DOCTYPE html>
<html>
  <head>
    <title>Ponstagram</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
      <div class="header__box">
        <div class="logo">
          <div class="logo__image">
             <%= link_to "Ponstagram", root_path %>
          </div>
          <div class="logo__name">
          </div>
        </div>
        <div class="icon">
          <div class="icon__post">
            <% if user_signed_in? %>
              <span><%= current_user.name %>
                <ul>
                  <li>
                    <a href="/users/<%= current_user.id %>">マイページ</a>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </span>
              <a href="/images/new">投稿する</a>
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
            <% end %>
          </div>
          <div class="icon__mypage">
          </div>
        </div>

    </header>

    <%= yield %>

    <footer>
      <p>
        Pomstagram 2014.
      </p>
    </footer>
  </body>
</html>
